Introducing Pandas
------------------

In [1]:
%pylab inline
import pandas as pd

Populating the interactive namespace from numpy and matplotlib

Pandas is centered around objects called "DataFrames", which are basically just like little spreadsheets or tables. 

We can either construct a DataFrame, or import data into one. Let's try building one.

In [2]:
df = pd.DataFrame()

In [3]:
df

Empty DataFrame
Columns: []
Index: []

There is nothing in this dataframe. Let's make one with something in it.

In [4]:
data=np.random.randn(10, 5)
df = pd.DataFrame(data=data)

In [5]:
df

          0         1         2         3         4
0  0.836697 -0.839462  1.336284  1.417990  0.189500
1 -0.171867 -0.169535 -1.357715  0.452915  0.330742
2 -1.313472 -0.927824 -0.149022  1.564024 -0.369855
3  1.154903 -1.514609  0.482215 -2.780043  0.428720
4 -0.040283 -0.414214 -2.309142 -0.137398 -0.197653
5  0.021253  0.670824  0.817382  0.843827  0.675119
6 -1.391089 -1.301641 -0.449661  1.434894  0.079748
7 -0.273128 -0.709658 -0.078075 -2.331665  0.066463
8 -1.186528  0.044654 -2.252579 -1.168866  0.411427
9  0.538172  0.104430  0.627426  0.740090  0.876640

The top row lists the name for the columns. The leftmost column contains the index. In this case, because we did not specify names for either the columns or the indices, they defaulted to integer values. 

We can rename the columns.

In [6]:
# this gets the columns
df.columns

RangeIndex(start=0, stop=5, step=1)

In [7]:
# we can set them like this 
df.columns = ['a', 'b', 'c', 'd', 'e']

In [8]:
df

          a         b         c         d         e
0  0.836697 -0.839462  1.336284  1.417990  0.189500
1 -0.171867 -0.169535 -1.357715  0.452915  0.330742
2 -1.313472 -0.927824 -0.149022  1.564024 -0.369855
3  1.154903 -1.514609  0.482215 -2.780043  0.428720
4 -0.040283 -0.414214 -2.309142 -0.137398 -0.197653
5  0.021253  0.670824  0.817382  0.843827  0.675119
6 -1.391089 -1.301641 -0.449661  1.434894  0.079748
7 -0.273128 -0.709658 -0.078075 -2.331665  0.066463
8 -1.186528  0.044654 -2.252579 -1.168866  0.411427
9  0.538172  0.104430  0.627426  0.740090  0.876640

There are two ways of accessing contents of the dataframe: by label and by integer index. It is important to be aware of the difference. 

To access a column we can use square backets [ ] and the label of the column, much like a python dictionary.

In [9]:
df['b']

0   -0.839462
1   -0.169535
2   -0.927824
3   -1.514609
4   -0.414214
5    0.670824
6   -1.301641
7   -0.709658
8    0.044654
9    0.104430
Name: b, dtype: float64

This returns what Pandas calls a "Series" object. A Series ie like a single slice of a dataframe, and is not necessarly a row or a column. 

Notice there is an index on the left that matches the index of the DataFrame, a Name, and a dtype associated with the data in the series.

We can access multiple columns at a time by passing a list of column names

In [10]:
df[['a','c']]

          a         c
0  0.836697  1.336284
1 -0.171867 -1.357715
2 -1.313472 -0.149022
3  1.154903  0.482215
4 -0.040283 -2.309142
5  0.021253  0.817382
6 -1.391089 -0.449661
7 -0.273128 -0.078075
8 -1.186528 -2.252579
9  0.538172  0.627426

This returns a DataFrame rather than a series. 


We can also use dot-notation to access a column

In [11]:
df.a

0    0.836697
1   -0.171867
2   -1.313472
3    1.154903
4   -0.040283
5    0.021253
6   -1.391089
7   -0.273128
8   -1.186528
9    0.538172
Name: a, dtype: float64

But only one at a time.

In [12]:
df.a.b

AttributeError: 'Series' object has no attribute 'b'

If we ever just want the data values in a dataframe or series, we can get them easily with .values attribute

In [13]:
df.values

array([[ 0.8366966 , -0.8394623 ,  1.33628353,  1.41798996,  0.18950015],
       [-0.17186714, -0.16953487, -1.35771529,  0.4529153 ,  0.33074198],
       [-1.31347217, -0.92782438, -0.14902234,  1.56402432, -0.36985509],
       [ 1.15490295, -1.51460947,  0.48221522, -2.78004274,  0.42872031],
       [-0.040283  , -0.41421396, -2.30914245, -0.13739811, -0.19765303],
       [ 0.02125342,  0.67082438,  0.81738176,  0.84382654,  0.67511893],
       [-1.39108932, -1.30164112, -0.44966107,  1.43489428,  0.0797483 ],
       [-0.27312846, -0.70965834, -0.0780746 , -2.331665  ,  0.06646344],
       [-1.18652792,  0.04465394, -2.25257929, -1.16886592,  0.41142727],
       [ 0.53817241,  0.10443028,  0.62742564,  0.74008999,  0.87664029]])

In [14]:
df.c.values

array([ 1.33628353, -1.35771529, -0.14902234,  0.48221522, -2.30914245,
        0.81738176, -0.44966107, -0.0780746 , -2.25257929,  0.62742564])

We can transpose the DataFrame i.e. switch rows and columns

In [15]:
df = df.T
df

,0,1,2,3,4,5,6,7,8,9
a,0.836697,-0.171867,-1.313472,1.154903,-0.040283,0.021253,-1.391089,-0.273128,-1.186528,0.538172
b,-0.839462,-0.169535,-0.927824,-1.514609,-0.414214,0.670824,-1.301641,-0.709658,0.044654,0.104430
c,1.336284,-1.357715,-0.149022,0.482215,-2.309142,0.817382,-0.449661,-0.078075,-2.252579,0.627426
d,1.417990,0.452915,1.564024,-2.780043,-0.137398,0.843827,1.434894,-2.331665,-1.168866,0.740090
e,0.189500,0.330742,-0.369855,0.428720,-0.197653,0.675119,0.079748,0.066463,0.411427,0.876640

Using the .loc method, we can select a row from our datframe by its label

In [16]:
df.loc['a']

0    0.836697
1   -0.171867
2   -1.313472
3    1.154903
4   -0.040283
5    0.021253
6   -1.391089
7   -0.273128
8   -1.186528
9    0.538172
Name: a, dtype: float64

If we pass an item that is not in the index, we get an error

In [17]:
df.loc[1]

TypeError: cannot do label indexing on <class 'pandas.indexes.base.Index'> with these indexers [1] of <type 'int'>

If we wanted to access the row according to a numerical index rather than label, we can use .iloc

In [18]:
df.iloc[0]

0    0.836697
1   -0.171867
2   -1.313472
3    1.154903
4   -0.040283
5    0.021253
6   -1.391089
7   -0.273128
8   -1.186528
9    0.538172
Name: a, dtype: float64

We can delete columns using the del function

In [19]:
del df[2]
del df[3]

In [20]:
df

,0,1,4,5,6,7,8,9
a,0.836697,-0.171867,-0.040283,0.021253,-1.391089,-0.273128,-1.186528,0.538172
b,-0.839462,-0.169535,-0.414214,0.670824,-1.301641,-0.709658,0.044654,0.104430
c,1.336284,-1.357715,-2.309142,0.817382,-0.449661,-0.078075,-2.252579,0.627426
d,1.417990,0.452915,-0.137398,0.843827,1.434894,-2.331665,-1.168866,0.740090
e,0.189500,0.330742,-0.197653,0.675119,0.079748,0.066463,0.411427,0.876640

Let's transpose the dataframe again.

In [21]:
df = df.T
df

          a         b         c         d         e
0  0.836697 -0.839462  1.336284  1.417990  0.189500
1 -0.171867 -0.169535 -1.357715  0.452915  0.330742
4 -0.040283 -0.414214 -2.309142 -0.137398 -0.197653
5  0.021253  0.670824  0.817382  0.843827  0.675119
6 -1.391089 -1.301641 -0.449661  1.434894  0.079748
7 -0.273128 -0.709658 -0.078075 -2.331665  0.066463
8 -1.186528  0.044654 -2.252579 -1.168866  0.411427
9  0.538172  0.104430  0.627426  0.740090  0.876640

Notice the index on the left jumps from 1 to 4, i.e. it skips 2 and 3 (because we deleted them). Let's look again at the difference between label and numerical index access. 

Let's say we want to grab the third column, and we want to do it with labels. The index for the third row is labeled 4.

In [22]:
df.loc[4]

a   -0.040283
b   -0.414214
c   -2.309142
d   -0.137398
e   -0.197653
Name: 4, dtype: float64

If we use .iloc, we need the right numerical index, not label. Because python (and pandas) is 0 indexed, the 3rd item corresponds to index 2

In [23]:
df.iloc[2]

a   -0.040283
b   -0.414214
c   -2.309142
d   -0.137398
e   -0.197653
Name: 4, dtype: float64

You can see how this could get you into trouble. Make sure you know which you are using and that you are consistent with that usage. 

There are two more cases worth mentioning: accessing a column by numerical index, and accessing a specific value (or set of vlues) with multiple indexes. 

To access a column by numerical index, we use the .iloc method and the colon : to mean 'all' as in 'all rows'.

In [24]:
df.iloc[:,0]

0    0.836697
1   -0.171867
4   -0.040283
5    0.021253
6   -1.391089
7   -0.273128
8   -1.186528
9    0.538172
Name: a, dtype: float64

In [25]:
df

          a         b         c         d         e
0  0.836697 -0.839462  1.336284  1.417990  0.189500
1 -0.171867 -0.169535 -1.357715  0.452915  0.330742
4 -0.040283 -0.414214 -2.309142 -0.137398 -0.197653
5  0.021253  0.670824  0.817382  0.843827  0.675119
6 -1.391089 -1.301641 -0.449661  1.434894  0.079748
7 -0.273128 -0.709658 -0.078075 -2.331665  0.066463
8 -1.186528  0.044654 -2.252579 -1.168866  0.411427
9  0.538172  0.104430  0.627426  0.740090  0.876640

To access a specific value, we use multiple indexes in [row, column] format (paying attention to whetehr we are referring to labels or numerical indexes).

In [26]:
df.loc[4,'e']

-0.19765303002621146

In [27]:
df.iloc[4,4]

0.079748301679611486

Couple of things left to do before we move on. 

Let's say we want to filter out any row whose value in column e is negative i.e. < 0. We can uyse a bollean to check the truth value

In [28]:
df.e>=0

0     True
1     True
4    False
5     True
6     True
7     True
8     True
9     True
Name: e, dtype: bool

This returns a series of True/False entries. We can use this as an index to filter our orignal dataframe

In [29]:
df[df.e>=0]

          a         b         c         d         e
0  0.836697 -0.839462  1.336284  1.417990  0.189500
1 -0.171867 -0.169535 -1.357715  0.452915  0.330742
5  0.021253  0.670824  0.817382  0.843827  0.675119
6 -1.391089 -1.301641 -0.449661  1.434894  0.079748
7 -0.273128 -0.709658 -0.078075 -2.331665  0.066463
8 -1.186528  0.044654 -2.252579 -1.168866  0.411427
9  0.538172  0.104430  0.627426  0.740090  0.876640

Finally, worth noting is that pandas is sometimes inconsistent as to whether it returns a 'view' or a 'copy' when you do something with it. This means you may change things you don't intend to if you are expoecting a copy but get a view. To make sure this does not happen, it is good practice to use an explicit copy method liberally

In [30]:
df_filtered = df[df.e>=0].copy()

In [31]:
df_filtered

          a         b         c         d         e
0  0.836697 -0.839462  1.336284  1.417990  0.189500
1 -0.171867 -0.169535 -1.357715  0.452915  0.330742
5  0.021253  0.670824  0.817382  0.843827  0.675119
6 -1.391089 -1.301641 -0.449661  1.434894  0.079748
7 -0.273128 -0.709658 -0.078075 -2.331665  0.066463
8 -1.186528  0.044654 -2.252579 -1.168866  0.411427
9  0.538172  0.104430  0.627426  0.740090  0.876640

Now we can be confident that any changes we make to df_filtered will not affect df. 

We can also, of course, set individual values.

In [32]:
df.loc[0,'a'] = 1

Or a whole column (make sure dimensions match)

In [33]:
df['a'] = np.random.randint(10, size=8)

In [34]:
df

   a         b         c         d         e
0  9 -0.839462  1.336284  1.417990  0.189500
1  7 -0.169535 -1.357715  0.452915  0.330742
4  7 -0.414214 -2.309142 -0.137398 -0.197653
5  4  0.670824  0.817382  0.843827  0.675119
6  4 -1.301641 -0.449661  1.434894  0.079748
7  6 -0.709658 -0.078075 -2.331665  0.066463
8  5  0.044654 -2.252579 -1.168866  0.411427
9  1  0.104430  0.627426  0.740090  0.876640

Or a whole row

In [35]:
df.iloc[1,:] = np.zeros(5)

In [36]:
df

     a         b         c         d         e
0  9.0 -0.839462  1.336284  1.417990  0.189500
1  0.0  0.000000  0.000000  0.000000  0.000000
4  7.0 -0.414214 -2.309142 -0.137398 -0.197653
5  4.0  0.670824  0.817382  0.843827  0.675119
6  4.0 -1.301641 -0.449661  1.434894  0.079748
7  6.0 -0.709658 -0.078075 -2.331665  0.066463
8  5.0  0.044654 -2.252579 -1.168866  0.411427
9  1.0  0.104430  0.627426  0.740090  0.876640

That about wraps it up for basic pandas usage. Next, we will import some real data and do a bit of epxloring using pandas and some additional tools